<section class="container mx-auto px-6 py-26 text-center bg-base-100">
  <div class="max-w-4xl mx-auto">
    <h1
      class="text-5xl md:text-6xl font-bold text-base-content mb-6 animate-fade-in-down"
    >
      Advanced Object Detection with<br />
      @if (isBrowser()) { @defer (on idle) {
      <ngx-typed-writer class="text-primary"
        [strings]="['AI Magic', 'AI Power', 'AI Intelligence']"
        [cursorChar]="'|'"
        [showCursor]="true"
        [backSpeed]="80"
        [backDelay]="1500"
        [typeSpeed]="40"
        [startDelay]="1000"
      >
      </ngx-typed-writer>
      } @placeholder {
      <span class="text-base-content">with AI Magic</span>
      } }
    </h1>
    <p class="text-xl text-base-content mb-8">
      Detect and identify objects in images and videos with unparalleled
      precision using our state-of-the-art AI technology.
    </p>
    <div class="flex justify-center space-x-4">
      <button
        type="button"
        class="btn btn-primary text-primary-content px-8 py-4 text-lg"
      >
        <a class="flex items-center gap-2" routerLink="/detect">
          <span>Try Now</span>
          <lucide-angular [img]="ArrowRightIcon" [size]="22"></lucide-angular>
        </a>
      </button>
    </div>
  </div>
</section>
<h1 class="text-4xl font-bold text-center mb-12 text-base-content">
  Powerful Features
</h1>
<p
  class="text-base-content max-w-2xl mx-auto text-lg text-center justify-center"
>
  Our state-of-the-art AI platform provides powerful object detection
  capabilities with incredible precision and speed.
</p>
<app-features></app-features>
<app-how-it-works></app-how-it-works>
<app-footer></app-footer>
